

.md-nav__link {
    color: #2e2e2e;              /* sidebar text color */
}

.md-header {
    background-color: #2e2e2e;   /* top nav bar */
    height: 60px;               /* height of top nav bar */
}
.md-footer {
    display: none !important;
}
.md-header__button.md-logo img {
    width: 120px;   /* Set your desired width */
    height: auto;   /* Maintain aspect ratio */
    max-height: 48px; /* Optional: limit max height */
}